@font-face {
	font-family: scp;
	src: url(../fonts/SourceCodePro-Regular.ttf);
}
:root {
	--border: 2px solid #525252;
	--bg: rgba(0, 0, 0, .85);
	--hover-color: #1d4ed8;
	--bg-main: #262626;
	--green: #198754;
	--red: #dc3545;
	--aqua: #00e4e4;

	--kv-width: 11rem;
	--kv-height: 16rem;
	--scale: 1.5;
	--gap: 1rem;
}
* {
	-webkit-user-drag: none;
	scroll-behavior: smooth;
	user-select: none;
	margin: 0;
	padding: 0;
	font-family: scp;
	font-size: 16px;
	color: white;
/*	outline: 1px solid blue;*/
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #525252;
	cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--hover-color);
}
body {
	background-color: var(--bg-main);
}
header {
	padding: .5rem 1rem;
}



/*
.dropdown {
	width: fit-content;
	margin-left: 1rem;
	font-size: 1.3rem;
	font-weight: bolder;
	cursor: pointer;
}
.dropdown::before {
	content: '+';
	margin-right: .3rem;
	color: var(--green);
}
.dropdownActive::before {
	content: '-';
	margin-right: .3rem;
	color: var(--red);
}
.dropdownHide {
	display: none!important;
}
.filterButton {
	background-color: #36363a;
	width: fit-content;
	height: fit-content;
	border: 2px solid #36363a;
	border-radius: 1.5rem;
	margin-left: 1rem;
	padding: .3rem .6rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.filterIcon {
	content: url(../media/icon/filter.png);
	width: 16px;
	height: 16px;
	filter: brightness(100);
	margin: 5px;
	cursor: pointer;
}
.filterButton:hover,
.tag:hover,
.buttonRed:hover,
.buttonGreen:hover {
	filter: brightness(1.3);
}
.filterPanel {
	border: var(--border);
	background-color: var(--bg-main);
	width: calc(21rem + 750px);
	height: 30rem;
	margin: auto;
	overflow: auto;
	z-index: 2;
}
.fSort,
.fStudio,
.fType,
.fSeason,
.fSource,
.fRating,
.fYear,
.fStatus,
.fTag {
	border-left: .2rem solid var(--aqua);
	margin: .5rem 1rem 1rem 1rem;
	padding-left: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: .3rem;
}
.filterPanel .tag {
	cursor: pointer;
}
.fImgStudio {
	display: none;
}
.tag:hover .fImgStudio {
	display: block;
	width: 6rem;
	height: 6rem;
	position: absolute;
	left: 50%;
	top: -6.5rem;
	transform: translateX(-50%);
}
.fSelected {
	border-color: yellow !important;
}
.countTag {
	font-size: .8rem;
	font-style: italic;
}
.countTag::before {
	content: '(';
}
.countTag::after {
	content: ')';
}
.flexSpace {
	display: flex;
	justify-content: space-around;
}
.button {
	border: var(--border);
	border-color: transparent;
	border-radius: 1rem;
	width: fit-content;
	margin: 1rem auto;
	padding: .5rem;
	display: block;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;
}
.buttonGreen {
	background-color: var(--green);
}
.buttonRed {
	background-color: var(--red);
}*/



.w-100 { width: 100%; }
.h-100 { height: 100%; }
.vh-100 { height: 100vh; }

.mb-1r { margin-bottom: 1rem; }
.px-1r { padding: 0 1rem; }

.d-flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-grow-03 { flex-grow: .1; }
.flex-grow-1 { flex-grow: 1; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.align-items-center { align-items: center; }
.gap-05r { gap: .5rem; }
.gap-1r { gap: 1rem; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.top-0 { top: 0; }
.left-0 { left: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-auto { overflow-y: auto; }
.overflow-y-hidden { overflow-y: hidden; }

.fs-10 { font-size: 10px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-20 { font-size: 20px; }
.fs-24 { font-size: 24px; }
.fs-30 { font-size: 30px; }
.fs-100 { font-size: 100px; }
.fs-2r { font-size: 2rem; }
.text-nowarp { text-wrap: nowrap; }
.text-center { text-align: center; }
.text-shadow-1 { text-shadow: 0 .2rem .1rem black }



.video-bg {
	object-fit: cover;
	z-index: -1;
}

.glass {
	background: #ffffff1a;
	backdrop-filter: blur(10px);
	box-shadow: 0 .2rem .5rem black;
	text-shadow: 0 0 .2rem black;
}
.img-inherit {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	object-fit: fill;
	vertical-align: bottom;
}

.logo {
	--size: 3rem;
	width: var(--size);
	height: var(--size);
	content: url(../media/icon/logo.png);
	animation: jump 1.2s ease-in-out infinite;
}
@keyframes jump {
	0% {
		transform: translateY(0) scaleY(1) scaleX(1) rotateY(calc(var(--i) * 180deg));
	}
	10% {
		transform: translateY(-5px) scaleY(1.05) scaleX(0.95) rotateY(calc(var(--i) * 180deg));
	}
	25% {
		transform: translateY(-10px) scaleY(1) scaleX(1) rotateY(calc(var(--i) * 180deg));
	}
	50% {
		transform: translateY(0) scaleY(0.85) scaleX(1.1) rotateY(calc(var(--i) * 180deg));
	}
	75% {
		transform: translateY(-6px) scaleY(1.05) scaleX(0.95) rotateY(calc(var(--i) * 180deg));
	}
	100% {
		transform: translateY(0) scaleY(1) scaleX(1) rotateY(calc(var(--i) * 180deg));
	}
}

.search {
	max-width: calc(var(--kv-width) * 5 + var(--gap) * 4);
	border-radius: 6px;
	margin: 1rem auto;
	padding: .3rem;
	transition: .3s;

	.search-icon,
	.search-reset {
		content: url(../media/icon/search.png);
		width: 1rem;
		height: 1rem;
		filter: brightness(100) drop-shadow(0 2px 2px black);
		margin: 5px;
		cursor: pointer;
	}
	.search-icon {
		content: url(../media/icon/search.png);
	}
	.search-reset {
		content: url(../media/icon/close.png);
	}
	.search-icon:hover,
	.search-reset:hover {
		filter: brightness(1) drop-shadow(0 2px 2px black);
	}
	.search-input {
		all: unset;
		width: 100%;
		font-size: 14px;
		text-shadow: 0 2px .1rem black;
	}
	.search-input::placeholder {
		color: lightgrey;
	}
}
.search:has(.search-input:focus) {
	border-color: var(--hover-color);
	box-shadow: 0 .2rem 1rem black;
	transform: translateY(-3px);
}

.anime-list {
	max-width: calc(var(--kv-width) * 5 + var(--gap) * 4);
	margin: 1rem auto 4rem auto;
	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(auto-fit, var(--kv-width));
}
.anime {
	width: var(--kv-width);
	height: var(--kv-height);
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 .5rem .5rem black;
	transition: .3s;

	.title {
		background-color: rgba(0, 0, 0, .8);
		max-height: 30%;
		padding: 5px;
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
		opacity: 0;
		transition: .3s;
	}

	.status {
		--size: 3rem;
		width: var(--size);
		height: var(--size);
	}
	.sOngoing { content: url(../media/icon/status_ongoing.png); }
	.sCompleted { content: url(../media/icon/status_completed.png); }
	.sDropped { content: url(../media/icon/status_dropped.png); }
}
.anime:hover {
	transform: translateY(-8px);
	box-shadow: 0 calc(.5rem + 8px) 2rem black;

	.title {
		opacity: 1;
	}
}

.anime-info {
	max-width: calc(var(--kv-width) * 5 + var(--gap) * 4);
	margin: 1rem auto;
}
.key-visual {
	width: calc(var(--kv-width) * var(--scale));
	height: calc(var(--kv-height) * var(--scale));
	border-radius: 6px;
	position: sticky;
	top: 1rem;
	box-shadow: 0 .5rem .5rem black;
}
.info {
	padding: 0 1rem;

	.box {
		border-radius: 6px;
		padding: .2rem .5rem;
	}
	.col {
		min-width: 0;
		height: fit-content;
		flex: 1 1 0;
	}
	.division {
		margin-bottom: .2rem;
		font-size: 1.2rem;
		font-weight: bold;
		text-shadow: 0 0 .1rem black;
	}

	.title {
		cursor: pointer;
	}

	.studio {
		--size: 7rem;
		width: var(--size);
		height: var(--size);
		border-radius: 6px;
		display: inline-block;
		text-decoration: none;
	}

	td:first-child {
	  padding-right: .2rem;
	}

	.link:hover {
		color: var(--hover-color);
	}
	.link:active {
		color: yellow;
	}

	.tag {
		background-color: #36363a;
		border-radius: 6px;
		padding: .2rem .5rem;
		cursor: help;
		transition: .3s;
	}

	.rImg {
		--size: 3rem;
		width: var(--size);
		height: var(--size);
		border-radius: 30%;
	}
	.rOP { content: url(../media/icon/OP.png); }
	.rED { content: url(../media/icon/ED.png); }
	.rAnimeNana { content: url(../media/icon/animeNana.png); }
	.rAnimeThemes { content: url(../media/icon/animeThemes.png); }
	.rAnimeVietsub { content: url(../media/icon/animeVietsub.png); }
	.rAniPlayList { content: url(../media/icon/aniPlayList.png); }
	.rMAL { content: url(../media/icon/mal.png); }
	.rMangaDex { content: url(../media/icon/mangaDex.png); }
	.rMangaFire { content: url(../media/icon/mangaFire.png); }
	.rMangaReader { content: url(../media/icon/mangaReader.png); }
}

.slider {
	background: rgba(38, 38, 38, .80);
	z-index: 1;
	gap: 5px;

	.left,
	.right {
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		filter: brightness(100);
	}
	.left:hover,
	.right:hover {
		filter: brightness(1);
	}
	.left {
		content: url(../media/icon/left.png);
	}
	.left:hover {
		animation: left 1s infinite;
	}
	@keyframes left {
		0%, 100% { transform: translateX(0px); }
		50% { transform: translateX(-5px); }
	}
	.right {
		content: url(../media/icon/right.png);
	}
	.right:hover {
		animation: right 1s infinite;
	}
	@keyframes right {
		0%, 100% { transform: translateX(0px); }
		50% { transform: translateX(5px); }
	}
	.turn-off,
	.turn-off:hover {
		filter: grayscale(100%);
		animation: none;
		cursor: default;
	}
	.number-input {
		all: unset;
		width: 2rem;
		border-bottom: 2px solid white;
	}
}

.toast-container {
	width: 200px;
	position: fixed;
	top: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	z-index: 1000;

	.toast {
		background: var(--bg);
		color: #fff;
		padding: .75rem 1rem;
		border-radius: 6px;
		font-size: 14px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
		opacity: 1;
		transition: opacity 0.5s ease;
	}
	.hide {
		opacity: 0;
	}
}

@media (max-width: 767px) {
	:root {
		--kv-width: calc(11rem * .8);
		--kv-height: calc(16rem * .8);
		--scale: 1.6;
		--gap: .5rem;
	}

	header {
		padding: .2rem .5rem;
	}

	.mb-1r { margin-bottom: .5rem; }
	.px-1r { padding: 0 .5rem; }
	.flex-column-respon { flex-direction: column; }
	.fs-30 { font-size: 20px; }

	.logo {
		--size: 2rem;
	}

	.anime:hover {
		transform: translateY(-4px);
	}
	.anime-info {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	.key-visual {
		position: static;
	}
}