@font-face {
	font-family: scp;
	src: url(../fonts/SourceCodePro-Regular.ttf);
}
:root {
	--border: 2px solid #525252;
	--bg: #171717;
	--hover-color: #1d4ed8;
}
* {
	scroll-behavior: smooth;
	user-select: none;
	margin: 0;
	padding: 0;
	font-family: scp;
	font-size: 16px;
	color: white;
}
body {
	background-color: #262626;
}
::-webkit-scrollbar {
	background-color: #262626;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg);
	border: var(--border);
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid var(--hover-color);
}
header {
	background-color: var(--bg);
	border-bottom: var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
}
.title {
	margin: 10px 0;
	font-size: 1.875rem;
}
.icon {
	width: 45px;
	height: 45px;
	margin: 5px;
}
.love {
	content: url(../media/icon/love.png);
	margin-right: 10px;
}
section {
	margin: 1rem;
	display: flex;
	justify-content: center;
}
.split {
	display: flex;
}
.status {
	position: relative;
}
.statusContinue::before {
	content: '';
	background: url(../media/icon/status_continue.png);
	background-size: contain;
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 0;
	right: 0;
}
.statusEnd::before {
	content: '';
	background: url(../media/icon/status_end.png);
	background-size: contain;
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 0;
	right: 0;
}
img {
/*	background-color: green;*/
	width: 22rem;
	height: 30rem;
}
.limited {
	width: 750px;
	height: 30rem;
	overflow-y: scroll;
}
h1, h2, p, .tagBox, .characterBox {
/*	width: 720px;*/
	width: fit-content;
	margin: 0 0 1rem 1rem;
/*	overflow-x: scroll;*/
	font-size: 2.5rem;
	word-break: break-word;
	cursor: pointer;
/*	white-space: nowrap;*/
}
h1 {
	border-bottom: var(--border);
}
h2 {
	padding-bottom: 0.1rem;
	font-size: 1.5rem;
}
h2::before {
	content: '(';
	cursor: auto;
}
h2::after {
	content: ')';
	cursor: auto;
}
/*h1::-webkit-scrollbar,
h2::-webkit-scrollbar,
.tagBox::-webkit-scrollbar {
	height: 10px;
}
h1::-webkit-scrollbar-thumb {
	border-bottom: none;
}*/
p {
/*	width: fit-content;*/
	margin: 0 0 1rem 1rem;
	font-size: 1rem;
	word-break: break-word;
	cursor: default;
}
.tagBox, .characterBox {
/*	width: 750px;
	min-height: auto;
	max-height: 20%;
	margin: 1rem;
	background-color: blue;
	overflow-y: scroll;*/
	display: flex;
	flex-wrap: wrap;
	cursor: default;
}
.tag {
	width: fit-content;
	height: fit-content;
	border: var(--border);
	border-radius: 1.5rem;
	padding: 10px;
	margin: 0 5px 5px 0;
}
.tagComedy::before {
	content: 'Comedy';
}
.tagDrama::before {
	content: 'Drama';
}
.tagHarem::before {
	content: 'Harem';
}
.tagRomance::before {
	content: 'Romance';
}
.tagSchool::before {
	content: 'School';
}
.tagSliceOfLife::before {
	content: 'Slice of life';
}
.tagIntroMusic::before {
	content: 'Nhạc Intro hay';
}
.tagIntroDesign::before {
	content: 'Thiết kế Intro hay';
}
.tagOutroMusic::before {
	content: 'Nhạc Outro hay';
}
.tagOutroDesign::before {
	content: 'Thiết kế Outro hay';
}
.tagContent::before {
	content: 'Nội dung hay';
}
.tagArt::before {
	content: 'Art đậm chất riêng';
}
.characterContainer {
	position: relative;
}
.characterContainer, .character {
	height: 160px;
	width: 110px;
}
.characterName {
	background-color: rgba(0, 0, 0, .8);
	opacity: 0;
	padding: 5px;
	position: absolute;
	bottom: 0;
	transition: .3s;
}
.characterContainer:hover .characterName {
	opacity: 1;
}
/*.textLink {
	cursor: pointer;
	width: fit-content;
}
.textLink:link,
.textLink:visited {
	color: #3b82f6;
	text-decoration: none;
}
.textLink:hover {
	color: var(--hover-color);
	text-decoration: underline;
}
.textLink:active {
	color: yellow;
	text-decoration: underline;
}*/