.sFeelDot {
	content: url(https://cdn.myanimelist.net/images/company/91.png);
}
.s8bit {
	content: url(https://cdn.myanimelist.net/images/company/441.png);
}
.sPAWorks {
	content: url(https://cdn.myanimelist.net/images/company/132.png);
}
.sWhiteFox {
	content: url(https://cdn.myanimelist.net/images/company/314.png);
}
.sSilverLink {
	content: url(https://cdn.myanimelist.net/images/company/300.png);
}
.sConnect {
	content: url(https://cdn.myanimelist.net/images/company/957.png);
}
.sCoMixWaveFilms {
	content: url(https://cdn.myanimelist.net/images/company/291.png);
}
.sDiomedéa {
	content: url(https://cdn.myanimelist.net/images/company/51.png);
}
.sPineJam {
	content: url(https://cdn.myanimelist.net/images/company/1295.png);
}
.sMappa {
	content: url(https://cdn.myanimelist.net/images/company/569.png);
}
.sBandaiNamcoPictures {
	content: url(https://cdn.myanimelist.net/images/company/1258.png);
}
.sAshiProductions {
	content: url(https://cdn.myanimelist.net/images/company/242.png);
}
.sStudioComet {
	content: url(https://cdn.myanimelist.net/images/company/126.png);
}
.sKyotoAnimation {
	content: url(https://cdn.myanimelist.net/images/company/2.png);
}
.sC2C {
	content: url(https://cdn.myanimelist.net/images/company/605.png);
}
.sFelixFilm {
	content: url(https://cdn.myanimelist.net/images/company/1440.png);
}
.sStudioBlancDot {
	content: url(https://cdn.myanimelist.net/images/company/478.png);
}
.sDavidProduction {
	content: url(https://cdn.myanimelist.net/images/company/287.png);
}
.sProjectNo9 {
	content: url(https://cdn.myanimelist.net/images/company/439.png);
}
.sEncourageFilms {
	content: url(https://cdn.myanimelist.net/images/company/354.png);
}
.sAsahiProduction {
	content: url(https://cdn.myanimelist.net/images/company/406.png);
}
.sTezukaProductions {
	content: url(https://cdn.myanimelist.net/images/company/200.png);
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}
.s {
	content: url();
}