.tAction::before {
	content: 'Action';
}
.tComedy::before {
	content: 'Comedy';
}
.tDrama::before {
	content: 'Drama';
}
.tEcchi::before {
	content: 'Ecchi';
}
.tGenben::before {
	content: 'Genben';
}
.tMythology::before {
	content: 'Mythology';
}
.tFantasy::before {
	content: 'Fantasy';
}
.tHarem::before {
	content: 'Harem';
}
.tIsekai::before {
	content: 'Isekai';
}
.tMecha::before {
	content: 'Mecha';
}
.tPsychological::before {
	content: 'Psychological';
}
.tReincarnation::before {
	content: 'Reincarnation';
}
.tRomance::before {
	content: 'Romance';
}
.tSchool::before {
	content: 'School';
}
.tSciFi::before {
	content: 'Sci-Fi';
}
.tSeinen::before {
	content: 'Seinen';
}
.tSliceOfLife::before {
	content: 'Slice of life';
}
.tShounen::before {
	content: 'Shounen';
}
.tSupernatural::before {
	content: 'Supernatural';
}
.tSuperPower::before {
	content: 'Super Power';
}
.tTimeTravel::before {
	content: 'Time Travel';
}