.tAction::before { content: 'Hành động'; }
.tAdultCast::before { content: 'Diễn viên người lớn'; }
.tAdventure::before { content: 'Phiêu lưu'; }
.tAnthropomorphic::before { content: 'Nhân hóa'; }
.tCGDCT::before { content: 'Gái đáng yêu làm điều dễ thương'; }
.tChildcare::before { content: 'Chăm sóc trẻ'; }
.tComedy::before { content: 'Hài hước'; }
.tCrossdressing::before { content: 'Hóa trang khác giới'; }
.tDetective::before { content: 'Trinh thám'; }
.tDrama::before { content: 'Kịch tính'; }
.tEcchi::before { content: 'Hở hang'; }
.tErotica::before { content: 'Khiêu dâm'; }
.tFantasy::before { content: 'Giả tưởng'; }
.tGagHumor::before { content: 'Hài lặp'; }
.tGenben::before { content: 'Hoán đổi giới tính'; }
.tGore::before { content: 'Máu me'; }
.tGourmet::before { content: 'Ẩm thực'; }
.tHarem::before { content: 'Nhiều người yêu'; }
.tHighStakesGame::before { content: 'Trò chơi cược cao'; }
.tHistorical::before { content: 'Lịch sử'; }
.tHorror::before { content: 'Kinh dị'; }
.tIdol::before { content: 'Thần tượng'; }
.tIsekai::before { content: 'Dị giới'; }
.tIyashikei::before { content: 'Chữa lành tâm hồn'; }
.tJosei::before { content: 'Cho độc giả nữ trên 18'; }
.tLovePolygon::before { content: 'Tình yêu đa giác'; }
.tLoveStatusQuo::before { content: 'Tình trạng đã thích'; }
.tMahouShoujo::before { content: 'Ma pháp thiếu nữ'; }
.tMartialArts::before { content: 'Võ thuật'; }
.tMecha::before { content: 'Máy móc'; }
.tMedical::before { content: 'Y học'; }
.tMilitary::before { content: 'Quân đội'; }
.tMusic::before { content: 'Âm nhạc'; }
.tMystery::before { content: 'Bí ẩn'; }
.tMythology::before { content: 'Thần thoại'; }
.tOrganizedCrime::before { content: 'Tổ chức tội phạm'; }
.tOtakuCulture::before { content: 'Văn hóa Otaku'; }
.tParody::before { content: 'Nhái lại'; }
.tPerformingArts::before { content: 'Biểu diễn nghệ thuật'; }
.tPets::before { content: 'Thú nuôi'; }
.tPsychological::before { content: 'Tâm lý'; }
.tReincarnation::before { content: 'Tái sinh'; }
.tRomance::before { content: 'Lãng mạn'; }
.tSamurai::before { content: 'Samurai'; }
.tSchool::before { content: 'Học đường'; }
.tSciFi::before { content: 'Khoa học viễn tưởng'; }
.tSeinen::before { content: 'Cho độc giả nam trên 18'; }
.tShoujo::before { content: 'Cho độc giả nữ dưới 18'; }
.tShounen::before { content: 'Cho độc giả nam dưới 18'; }
.tShowbiz::before { content: 'Giới giải trí'; }
.tSliceofLife::before { content: 'Lát cắt cuộc sống'; }
.tSpace::before { content: 'Vũ trụ'; }
.tSports::before { content: 'Thể thao'; }
.tStrategyGame::before { content: 'Trò chơi chiến lược'; }
.tSupernatural::before { content: 'Siêu nhiên'; }
.tSuperPower::before { content: 'Siêu sức mạnh'; }
.tSurvival::before { content: 'Sinh tồn'; }
.tSuspense::before { content: 'Hồi hộp'; }
.tTimeTravel::before { content: 'Xuyên thời gian'; }
.tUrbanFantasy::before { content: 'Giả tưởng hiện đại'; }
.tVampire::before { content: 'Ma cà rồng'; }
.tVideoGame::before { content: 'Trò chơi điện tử'; }
.tVillainess::before { content: 'Phản diện'; }
.tVisualArts::before { content: 'Nghệ thuật thị giác'; }
.tWorkplace::before { content: 'Nơi làm việc'; }
.tYuri::before { content: 'Nữ x Nữ'; }

.tGore {
	color: red;
}
.tErotica {
	color: magenta;
}

.tFavoriteOPVisual::before {
	content: 'Hình ảnh mở đầu ưa thích';
}
.tFavoriteEDVisual::before {
	content: 'Hình ảnh kết thúc ưa thích';
}
.tFavoriteOPSong::before {
	content: 'Bài nhạc mở đầu ưa thích';
}
.tFavoriteEDSong::before {
	content: 'Bài nhạc kết thúc ưa thích';
}
.tFavoriteOPVisual,
.tFavoriteEDVisual {
	color: #00ff9f;
}
.tFavoriteOPSong,
.tFavoriteEDSong {
	color: yellow;
}
.tFavoriteAnime::before {
	content: 'Anime ưa thích';
}
.tFavoriteAnime {
	color: lime;
}

.tag::before {
	background-color: var(--bg);
	width: 5rem;
	border-radius: inherit;
	padding: inherit;
	display: none;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	text-align: center;
/*	white-space: nowrap;*/
}

.tag:hover::before {
	bottom: 1.5rem;
	display: block;
}