.tAction::before {
	content: 'Action';
}
.tAction::after {
	content: 'Hành động';
}
.tAdventure::before {
	content: 'Adventure';
}
.tAdventure::after {
	content: 'Phiêu lưu';
}
.tComedy::before {
	content: 'Comedy';
}
.tComedy::after {
	content: 'Hài hước';
}
.tDrama::before {
	content: 'Drama';
}
.tDrama::after {
	content: 'Kịch tính';
}
.tEcchi::before {
	content: 'Ecchi';
}
.tEcchi::after {
	content: 'Hở hang';
}
.tFantasy::before {
	content: 'Fantasy';
}
.tFantasy::after {
	content: 'Giả tưởng';
}
.tJosei::before {
	content: 'Josei';
}
.tJosei::after {
	content: 'Cho độc giả nữ 18+';
}
.tGame::before {
	content: 'Game';
}
.tGame::after {
	content: 'Video/Board Game';
}
.tGenben::before {
	content: 'Genben';
}
.tGenben::after {
	content: 'Hoán đổi giới tính';
}
.tGourmet::before {
	content: 'Gourmet';
}
.tGourmet::after {
	content: 'Ẩm thực';
}
.tHarem::before {
	content: 'Harem';
}
.tHarem::after {
	content: 'Nhiều người yêu';
}
.tHistorical::before {
	content: 'Historical';
}
.tHistorical::after {
	content: 'Lịch sử';
}
.tHorror::before {
	content: 'Horror';
}
.tHorror::after {
	content: 'Kinh dị';
}
.tIsekai::before {
	content: 'Isekai';
}
.tIsekai::after {
	content: 'Dị giới';
}
.tIyashikei::before {
	content: 'Iyashikei';
}
.tIyashikei::after {
	content: 'Chữa lành tâm hồn';
}
.tMartialArts::before {
	content: 'Martial Arts';
}
.tMartialArts::after {
	content: 'Võ thuật';
}
.tMecha::before {
	content: 'Mecha';
}
.tMecha::after {
	content: 'Máy móc';
}
.tMedical::before {
	content: 'Medical';
}
.tMedical::after {
	content: 'Y học';
}
.tMilitary::before {
	content: 'Military';
}
.tMilitary::after {
	content: 'Vũ trang';
}
.tMusic::before {
	content: 'Music';
}
.tMusic::after {
	content: 'Âm nhạc';
}
.tMystery::before {
	content: 'Mystery';
}
.tMystery::after {
	content: 'Bí ẩn';
}
.tMythology::before {
	content: 'Mythology';
}
.tMythology::after {
	content: 'Thần thoại';
}
.tParody::before {
	content: 'Parody';
}
.tParody::after {
	content: 'Chi tiết từ bộ khác';
}
.tPsychological::before {
	content: 'Psychological';
}
.tPsychological::after {
	content: 'Tâm lý';
}
.tReincarnation::before {
	content: 'Reincarnation';
}
.tReincarnation::after {
	content: 'Tái sinh';
}
.tRomance::before {
	content: 'Romance';
}
.tRomance::after {
	content: 'Lãng mạn';
}
.tSchool::before {
	content: 'School';
}
.tSchool::after {
	content: 'Học đường';
}
.tSciFi::before {
	content: 'Sci-Fi';
}
.tSciFi::after {
	content: 'Khoa học viễn tưởng';
}
.tSeinen::before {
	content: 'Seinen';
}
.tSeinen::after {
	content: 'Cho độc giả nam 18+';
}
.tSliceOfLife::before {
	content: 'Slice of life';
}
.tSliceOfLife::after {
	content: 'Lát cắt cuộc sống';
}
.tShoujo::before {
	content: 'Shoujo';
}
.tShoujo::after {
	content: 'Cho độc giả nữ < 18';
}
.tShounen::before {
	content: 'Shounen';
}
.tShounen::after {
	content: 'Cho độc giả nam < 18';
}
.tStrategy::before {
	content: 'Strategy';
}
.tStrategy::after {
	content: 'Chiến lược';
}
.tSupernatural::before {
	content: 'Supernatural';
}
.tSupernatural::after {
	content: 'Siêu nhiên';
}
.tSuperPower::before {
	content: 'Super Power';
}
.tSuperPower::after {
	content: 'Siêu sức mạnh';
}
.tTimeTravel::before {
	content: 'Time Travel';
}
.tTimeTravel::after {
	content: 'Xuyên thời gian';
}
.tWorkplace::before {
	content: 'Workplace';
}
.tWorkplace::after {
	content: 'Nơi làm việc';
}
.tYuri::before {
	content: 'Yuri';
}
.tYuri::after {
	content: 'Nữ x Nữ';
}
.tSports::before {
	content: 'Sports';
}
.tSports::after {
	content: 'Thể thao';
}
.tAdultCast::before {
	content: 'Adult Cast';
}
.tAdultCast::after {
	content: 'Diễn viên người lớn';
}
.tSurvival::before {
	content: 'Survival';
}
.tSurvival::after {
	content: 'Sinh tồn';
}
.tSuspense::before {
	content: 'Suspense';
}
.tSuspense::after {
	content: 'Hồi hộp';
}
.tStrategyGame::before {
	content: 'Strategy Game';
}
.tStrategyGame::after {
	content: 'Trò chơi chiến lược';
}
.tAnthropomorphic::before {
	content: 'Anthropomorphic';
}
.tAnthropomorphic::after {
	content: 'Nhân hóa';
}
.tDetective::before {
	content: 'Detective';
}
.tDetective::after {
	content: 'Trinh thám';
}
.tVampire::before {
	content: 'Vampire';
}
.tVampire::after {
	content: 'Ma cà rồng';
}
.tRomanticSubtext::before {
	content: 'Romantic Subtext';
}
.tRomanticSubtext::after {
	content: 'Nội dung lãng mạn';
}
.tPerformingArts::before {
	content: 'Performing Arts';
}
.tPerformingArts::after {
	content: 'Biểu diễn nghệ thuật';
}
.tShowbiz::before {
	content: 'Showbiz';
}
.tShowbiz::after {
	content: 'Giới giải trí';
}
.tChildcare::before {
	content: 'Childcare';
}
.tChildcare::after {
	content: 'Chăm sóc trẻ';
}
.tOtakuCulture::before {
	content: 'Otaku Culture';
}
.tOtakuCulture::after {
	content: 'Văn hóa Otaku';
}
.tPets::before {
	content: 'Pets';
}
.tPets::after {
	content: 'Thú nuôi';
}
.tGagHumor::before {
	content: 'Gag Humor';
}
.tGagHumor::after {
	content: 'Hài lặp';
}
.tVideoGame::before {
	content: 'Video Game';
}
.tVideoGame::after {
	content: 'Trò chơi điện tử';
}
.tHighStakesGame::before {
	content: 'High Stakes Game';
}
.tHighStakesGame::after {
	content: 'Trò chơi cược cao';
}
.tStrategyGame::before {
	content: 'Strategy Game';
}
.tStrategyGame::after {
	content: 'Trò chơi chiến lược';
}
.tGore::before {
	content: 'Gore';
}
.tGore::after {
	content: 'Máu me';
}

.tAction::after,
.tAdventure::after,
.tComedy::after,
.tDrama::after,
.tEcchi::after,
.tFantasy::after,
.tJosei::after,
.tGame::after,
.tGenben::after,
.tGourmet::after,
.tHarem::after,
.tHistorical::after,
.tHorror::after,
.tIsekai::after,
.tIyashikei::after,
.tMartialArts::after,
.tMecha::after,
.tMedical::after,
.tMilitary::after,
.tMusic::after,
.tMystery::after,
.tMythology::after,
.tParody::after,
.tPsychological::after,
.tReincarnation::after,
.tRomance::after,
.tSchool::after,
.tSciFi::after,
.tSeinen::after,
.tSliceOfLife::after,
.tShoujo::after,
.tShounen::after,
.tStrategy::after,
.tSupernatural::after,
.tSuperPower::after,
.tTimeTravel::after,
.tWorkplace::after,
.tYuri::after,
.tSports::after,
.tAdultCast::after,
.tSurvival::after,
.tSuspense::after,
.tStrategyGame::after,
.tAnthropomorphic::after,
.tDetective::after,
.tVampire::after,
.tRomanticSubtext::after,
.tPerformingArts::after,
.tShowbiz::after,
.tChildcare::after,
.tOtakuCulture::after,
.tPets::after,
.tGagHumor::after,
.tVideoGame::after,
.tHighStakesGame::after,
.tStrategyGame::after,
.tGore::after {
	background-color: var(--bg);
	border-radius: 7px;
	padding: 5px 10px;
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
}

.tag:hover.tAction::after,
.tag:hover.tAdventure::after,
.tag:hover.tComedy::after,
.tag:hover.tDrama::after,
.tag:hover.tEcchi::after,
.tag:hover.tFantasy::after,
.tag:hover.tJosei::after,
.tag:hover.tGame::after,
.tag:hover.tGenben::after,
.tag:hover.tGourmet::after,
.tag:hover.tHarem::after,
.tag:hover.tHistorical::after,
.tag:hover.tHorror::after,
.tag:hover.tIsekai::after,
.tag:hover.tIyashikei::after,
.tag:hover.tMartialArts::after,
.tag:hover.tMecha::after,
.tag:hover.tMedical::after,
.tag:hover.tMilitary::after,
.tag:hover.tMusic::after,
.tag:hover.tMystery::after,
.tag:hover.tMythology::after,
.tag:hover.tParody::after,
.tag:hover.tPsychological::after,
.tag:hover.tReincarnation::after,
.tag:hover.tRomance::after,
.tag:hover.tSchool::after,
.tag:hover.tSciFi::after,
.tag:hover.tSeinen::after,
.tag:hover.tSliceOfLife::after,
.tag:hover.tShoujo::after,
.tag:hover.tShounen::after,
.tag:hover.tStrategy::after,
.tag:hover.tSupernatural::after,
.tag:hover.tSuperPower::after,
.tag:hover.tTimeTravel::after,
.tag:hover.tWorkplace::after,
.tag:hover.tYuri::after,
.tag:hover.tSports::after,
.tag:hover.tAdultCast::after,
.tag:hover.tSurvival::after,
.tag:hover.tSuspense::after,
.tag:hover.tStrategyGame::after,
.tag:hover.tAnthropomorphic::after,
.tag:hover.tDetective::after,
.tag:hover.tVampire::after,
.tag:hover.tRomanticSubtext::after,
.tag:hover.tPerformingArts::after,
.tag:hover.tShowbiz::after,
.tag:hover.tChildcare::after,
.tag:hover.tOtakuCulture::after,
.tag:hover.tPets::after,
.tag:hover.tGagHumor::after,
.tag:hover.tVideoGame::after,
.tag:hover.tHighStakesGame::after,
.tag:hover.tStrategyGame::after,
.tag:hover.tGore::after {
	top: -2.5rem;
	display: block;
}